body {
  font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif;
}

.ql-container.ql-snow {
  border: 0px;
}

.ql-editor p strong {
  font-weight: bold;
}

.ql-editor p em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

ol {
  list-style-type: decimal;
}

ul {
  list-style-type: disc;
}

h1 {
  font-size: calc(1.375rem + 1.5vw);
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h2 {
  font-size: calc(1.325rem + 0.9vw);
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h3 {
  font-size: calc(1.3rem + 0.6vw);
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}
